@tailwind base;
@tailwind components;
@tailwind utilities;

.amelia-app-booking
  #amelia-booking-wrap
  .am-step-booking-catalog
  .am-select-date {
  background: #dcab37 !important;
}

.amelia-app-booking
  #amelia-booking-wrap
  .am-step-booking-catalog
  .am-select-date
  * {
  color: black !important;
  font-size: 16px !important;
}
